# Set default behavior to automatically normalize line endings
* text=auto

# Force specific file types to have Unix line endings
*.js text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.ejs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Force specific file types to have Windows line endings
*.bat text eol=crlf

# Declare files that will always have CRLF line endings on checkout
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar.gz binary